In [1]:
spark

In [2]:
import os
import sys
import re
from unicode_codes import EMOJI_UNICODE, EMOJI_UNICODE_SET

In [3]:
import pandas as pd

In [4]:
DATA_DIR = 'small_data/01'

In [5]:
print(sys.version)

3.6.4 (default, Jan 17 2018, 15:26:12)
[GCC 4.2.1 Compatible Apple LLVM 9.0.0 (clang-900.0.39.2)]

In [6]:
def get_re(match, window=2):
    word_or_emoji_re = "(['#@]?\w[\w'-]*|\W)?"

    r = "{} " + (window - 1) * "*?{} " \
        + "*?({}) " + (window - 1) * "*{} " + "*{}"
    a = [word_or_emoji_re] * window + [match] + [word_or_emoji_re] * window

    return re.compile(r.format(*a))

In [7]:
match = EMOJI_UNICODE[':pistol:']
match_sql = u"%{}%".format(match)

match_re_1 = get_re(match, window=1)

In [8]:
files = spark.read.json(os.path.join(DATA_DIR, '*'))

In [9]:
files_filtered = files.filter(files.delete.isNull())

In [10]:
files_match = files_filtered.filter(files_filtered.text.like(match_sql))

In [11]:
tweets = files_match.select(files_match['text'],
                            files_match['lang'],
                            files_match['geo']).rdd.cache()

In [12]:
results = tweets.flatMap(lambda row: re.findall(match_re_1, row.text)) \
                .cache()

In [13]:
before = results.filter(lambda t: (t[0] in EMOJI_UNICODE_SET)) \
                .map(lambda t: (t[0], 1))
after = results.filter(lambda t: (t[2] in EMOJI_UNICODE_SET)) \
               .map(lambda t: (t[2], 1))

In [14]:
langs_cnt = tweets.map(lambda row: row.lang).countByValue()

In [15]:
cnt = files_filtered.count()

In [16]:
cnt_tweets = tweets.count()

In [17]:
cnt_match = results.count()

In [18]:
print('There are: {} tweets total with {} tweets containing: {}'.format(cnt, cnt_tweets, match))
print('There are: {} matches of the character'.format(cnt_match))

There are: 465656 tweets total with 197 tweets containing: 🔫
There are: 222 matches of the character

In [19]:
before_cnt = before.reduceByKey(lambda x, y: x + y)
after_cnt = after.reduceByKey(lambda x, y: x + y)

In [20]:
bd = before_cnt.takeOrdered(15, key=lambda x: -x[1])

In [21]:
ad = after_cnt.takeOrdered(15, key=lambda x: -x[1])

In [22]:
df_before = pd.DataFrame(bd, columns=['Emoji', 'CountBefore'])
df_after = pd.DataFrame(ad, columns=['Emoji', 'CountAfter'])
df_lang = pd.DataFrame(list(langs_cnt.items()), columns=['Lang', 'Count'])

In [23]:
df_before

   Emoji  CountBefore
0      😂           15
1      🔫           11
2      😭           10
3      💥            9
4      😩            6
5      🔪            5
6      😊            5
7      💣            4
8      😃            3
9      😫            3
10     💂            2
11     👀            2
12     😓            2
13     💵            2
14     🔥            2

In [24]:
df_after

   Emoji  CountAfter
0      🔫          41
1      🔪           7
2      💣           5
3      😩           5
4      😀           4
5      👈           2
6      💥           2
7      ⚡           1
8      👮           1
9      🐼           1
10     🚨           1
11     😭           1
12     💨           1
13     🚫           1
14     🏃           1

In [25]:
df_lang

   Lang  Count
0    en    107
1   und     17
2    ja      7
3    es     17
4    in      8
5    pt      6
6    ar      8
7    sv      1
8    fr      7
9    tl      9
10   tr      1
11   ru      3
12   pl      1
13   th      3
14   it      1
15   ro      1