In [1]:
spark

In [2]:
import os
import sys
import re
from unicode_codes import EMOJI_UNICODE, EMOJI_UNICODE_SET
from utils import get_re

In [3]:
import pandas as pd

In [4]:
DATA_DIR = 'small_data/01'

In [5]:
print(sys.version)

3.6.4 (default, Jan 17 2018, 15:26:12)
[GCC 4.2.1 Compatible Apple LLVM 9.0.0 (clang-900.0.39.2)]

#### Match strings (char, sql, and regex)

In [7]:
match = EMOJI_UNICODE[':pistol:']
match_sql = u"%{}%".format(match)

match_re = get_re(match, window=1)

#### Load json files

In [8]:
files = spark.read.json(os.path.join(DATA_DIR, '*'))
files_filtered = files.filter(files.delete.isNull())

#### Find tweets with match char

In [9]:
files_match = files_filtered.filter(files_filtered.text.like(match_sql))

In [10]:
tweets = files_match.select(files_match['text'],
                            files_match['lang'],
                            files_match['geo']).rdd.cache()

#### Find tweets with any emoji char

In [11]:
tweets_all = files_filtered.select('text').rdd

In [12]:
allemoji = tweets_all.flatMap(lambda row: EMOJI_UNICODE_SET.intersection(list(row.text))) \
                     .map(lambda t: (t, 1))

#### Regex match on tweets with match

In [29]:
results = tweets.flatMap(lambda row: re.findall(match_re, row.text)) \
                .cache()

In [14]:
before = results.filter(lambda t: (t[0] in EMOJI_UNICODE_SET)) \
                .map(lambda t: (t[0], 1))
after = results.filter(lambda t: (t[2] in EMOJI_UNICODE_SET)) \
               .map(lambda t: (t[2], 1))

#### Counts

In [15]:
langs_cnt = tweets.map(lambda row: row.lang).countByValue()

In [16]:
cnt = files_filtered.count()

In [17]:
cnt_tweets = tweets.count()

In [18]:
cnt_match = results.count()

In [19]:
print('There are: {} tweets total with {} tweets containing: {}'.format(cnt, cnt_tweets, match))
print('There are: {} matches of the character'.format(cnt_match))

There are: 465656 tweets total with 197 tweets containing: ğŸ”«
There are: 222 matches of the character

In [20]:
allemoji_cnt = allemoji.reduceByKey(lambda x, y: x + y)
before_cnt = before.reduceByKey(lambda x, y: x + y)
after_cnt = after.reduceByKey(lambda x, y: x + y)

#### Tables of adjacent emoji chars and all emoji chars

In [21]:
bd = before_cnt.takeOrdered(15, key=lambda x: -x[1])

In [22]:
ad = after_cnt.takeOrdered(15, key=lambda x: -x[1])

In [23]:
alld = allemoji_cnt.takeOrdered(15, key=lambda x: -x[1])

In [24]:
df_before = pd.DataFrame(bd, columns=['Emoji', 'CountBefore'])
df_after = pd.DataFrame(ad, columns=['Emoji', 'CountAfter'])
df_lang = pd.DataFrame(list(langs_cnt.items()), columns=['Lang', 'Count'])
df_allemoji = pd.DataFrame(alld, columns=['Emoji', 'Count'])

In [25]:
df_before

   Emoji  CountBefore
0      ğŸ˜‚           15
1      ğŸ”«           11
2      ğŸ˜­           10
3      ğŸ’¥            9
4      ğŸ˜©            6
5      ğŸ”ª            5
6      ğŸ˜Š            5
7      ğŸ’£            4
8      ğŸ˜ƒ            3
9      ğŸ˜«            3
10     ğŸ’‚            2
11     ğŸ‘€            2
12     ğŸ˜“            2
13     ğŸ’µ            2
14     ğŸ”¥            2

In [26]:
df_after

   Emoji  CountAfter
0      ğŸ”«          41
1      ğŸ”ª           7
2      ğŸ’£           5
3      ğŸ˜©           5
4      ğŸ˜€           4
5      ğŸ‘ˆ           2
6      ğŸ’¥           2
7      âš¡           1
8      ğŸ‘®           1
9      ğŸ¼           1
10     ğŸš¨           1
11     ğŸ˜­           1
12     ğŸ’¨           1
13     ğŸš«           1
14     ğŸƒ           1

In [27]:
df_allemoji

   Emoji  Count
0      ğŸ˜‚   4582
1      â™¥   2830
2      â¤   2669
3      ğŸ’•   2359
4      ğŸ˜   2277
5      ğŸ˜­   1989
6      ğŸ˜Š   1430
7      ğŸ˜˜   1334
8      ğŸ‘Œ   1187
9      â˜º   1131
10     ğŸ’“   1100
11     ğŸ˜©   1076
12     ğŸ™Œ   1011
13     ğŸ‘    976
14     âœ¨    946

In [28]:
df_lang

   Lang  Count
0    en    107
1   und     17
2    ja      7
3    es     17
4    in      8
5    pt      6
6    ar      8
7    sv      1
8    fr      7
9    tl      9
10   tr      1
11   ru      3
12   pl      1
13   th      3
14   it      1
15   ro      1